# This is a basic workflow to help you get started with Actions

name: reference.conholdate.com(Production)

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ production ]
    paths:
      - 'content/**'
  pull_request:
    branches: [ production ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2
        with:
            token: ${{ secrets.REPO_TOKEN }}
            submodules: recursive  # Fetch Hugo themes
      - name: Checkout theme repo
        uses: actions/checkout@main
        with:
          repository: containerize-hugo/lutsk-aspose-theme
          token: ${{ secrets.THEME_REPO_TOKEN }}
          fetch-depth: 0
          path: themes/api-theme
          github-server-url: 'https://git.dev.dynabic.com/'          
      # Step 2 - Sets up the latest version of Hugo
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
            hugo-version: 'latest'
            extended: true
      - name: Install Dependicies1
        run:  npm install -D --save autoprefixer
      - name: Install Dependicies2
        run:  npm install -D --save postcss-cli      
      # Also specifies the theme we want to use
      - name: Build
        run: hugo --configDir config --environment production --minify
        
      - name: Deploy reference.conholdate.com(Production) to S3
        run: hugo --configDir config --environment production deploy --target "Production" --maxDeletes 0
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS }}
      # Invalidate Cloudfront Home Page
      - name: invalidate
        uses: chetan/invalidate-cloudfront-action@master
        env:
          DISTRIBUTION: ${{ secrets.AWS_DISTRIBUTION_PROD }}
          PATHS: "/index.html"
          AWS_REGION: 'us-west-2'
          AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS }}
